
body{
  background: url(https://cdn.pixabay.com/photo/2020/02/16/07/55/beach-4852830_1280.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.img-box33{
  height: 30vh;
  display: flex;
  justify-content: center;
}
button{
  border-style: none;
  border-radius: 15px;
  margin: 0 10px;
  font-size: 20px;  
}

button:hover{
  background-color: aquamarine;
  opacity: 0.8;
}
.container{
  padding: 0;
}
.win{
  background-color: white;
    border: 4px solid green;
  }
  .lose{
    background-color: white;
    border: 4px solid red;
  }
  .tie{
    background-color: white;
    border: 4px solid rgb(146, 146, 146);
  }
  .main{
    margin: 10px;
    display: flex;
    justify-content: center;
  }
  .main2{
    margin: 10px;
    display: flex;
    justify-content: center;
  }
  h1, h2{
    min-width: 20vh;
    max-height: 20vh;
    margin: 0;
    padding: 0;
    text-align: center;
    color: rgb(255, 162, 250);
    -webkit-text-stroke: 0.5px rgb(152, 129, 255);
    font-weight: bolder;    
  }
  h3{
    margin-bottom: 20px;
    min-width: 10vh;
  max-height: 10vh; 
  text-align: center;
  color: rgb(255, 162, 250);
  -webkit-text-stroke: 0.5px rgb(152, 129, 255);
  font-weight: bolder;
  }
  @media screen and (max-width: 690px) {
    .main2{
      margin: 10px;
      display: flex;
      justify-content: center;
    }
    .img-box33{
      width: 20vh;
      height: 25vh;
      display: flex;
      justify-content: center;
    }
    h1{
      font-size: 18px;
    }

    h2{
      font-size: 14px;
    }
    .main2{
      margin: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    button{
      border-style: none;
      border-radius: 15px;
      margin: 10px;
      font-size: 15px;  
    }
    .img-item{
      width: 20vh;
      height: 20vh;
    }
    h3{
      margin-bottom: 20px;
      min-width: 10vh;
    max-height: 10vh; 
    text-align: center;
    color: rgb(255, 162, 250);
    -webkit-text-stroke: 0.5px rgb(152, 129, 255);
    font-weight: bolder;
    }
  }
